# to exclude files and directories to be copied to the container
VERSION
README.*
.git
.gitignore
Dockerfile
Dockerfile_local
.dockerignore
*.y*l
*.sql
env_template
rabbitDrain.py
rabbitPublish.py
LICENSE
.github
/tests


# contents from .gitignore file
*.pyc
.idea
.vscode
